<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pl.org.seva.navigator">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:name=".application.NavigatorApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDECNjt1fl18jA2W5O2n3e_JMFueCjEdBs"/>

        <activity
            android:name=".ui.activity.NavigationActivity"
            android:label="@string/app_name_short"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.ContactsActivity"
            android:label="@string/contacts_activity_label">
        </activity>

        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".ui.activity.DeleteProfileActivity"
            android:label="@string/delete_user_activity_label" />

        <activity
            android:name=".ui.activity.SeekContactActivity"
            android:label="@string/seek_contact_activity_label"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable_contact"/>
        </activity>

        <service android:name="pl.org.seva.navigator.application.service.NavigatorService"/>
    </application>
</manifest>
